body {
    background-image: url("../img/background.jpeg");
    background-color: rgb(239, 236, 232);
    background-repeat: repeat;
    
    writing-mode: vertical-rl;
    line-height: 1.5;

    padding: 50px 0;
}
